@charset "iso-8859-1";
  /* gallery design by http://www.webdesignerwall.com */ 
  
.gallery {
	margin: 0;
	padding: 0;
}
.gallery a {
	text-decoration: none;
	border: 6px;
	border-color: #000;
}
.gallery img {
	padding: 20px;
	
}

